.mentorForm {
  top: 10px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  .form-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      cursor: pointer;
    }
  }
  input {
    margin: 5px;
    width: 500px;
    padding: 5px;
  }
  button {
    border: 1px solid black;
    margin-top: 7px;
    border-radius: 10px;
  }
  &.active {
    display: none;
  }
}
