.App {
  overflow: hidden;
  background-image: linear-gradient(180deg, rgb(1, 1, 59)1%, hsl(212, 91%, 39%));
  &::-webkit-scrollbar {
    display: none;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 60px;

    .admin__header {
      padding: 0 10px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      margin-top: 10px;
      .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        .search-bar {
          width: 100%;
          margin-right: 10px;
          border-radius: 10px;
        }
      }

      button {
        border-radius: 10px;
        background-color: white;
        border: 2px solid black;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      button:hover {
        background-color: crimson;
        color: white;
        border: 2px solid crimson;
      }
    }
  }
  .addmentor-container {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.7);
    transition: display 2s ease;
  }
  .containerneww {
    margin: auto;
    width: 7%;
    h1 {
      margin-top: 10px;
      color: white;
      
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin-top: 10px;
      color: white;
      
    }
    
    button {
      
    /* border: 0.1px solid rgb(209, 82, 82); */
      margin-left: 90px;
      border-radius: 10px;
      width: 120px;
      height: 30px;
      font-weight: bold 1;
      font-size: 18px;
      background-color: #dc143c;
      color: white;
      cursor: pointer;
      border: 1px solid crimson;
      transition: all 0.3s ease;
    }
    button:hover {
      font-size: 14px;
      background-color: #fff;
      color: black;
      border: 2px solid black;
    }
  }
  .mentorlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
}
